#formGroupExampleInput{
    max-width: 750px;
    margin-left: 580px;
    margin-bottom: 15px;  
}

#eventDate{
    max-width: 180px;
    margin-left: 869px;
    margin-bottom: 10px;
}

/* #eventButton{
    margin-left: 869px;
    margin-top: -115px;
}
 */
