/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./assets/minimalism-blue-green-gradient-wallpaper.jpg);
    
}


h1{
    text-align: center;
}

form{
    text-align: center;
    color: white;
}